.navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--accent-color);
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.navbar.level-0 .navbar-button.title-button {
  position: absolute;
  left: 10px;
  margin-right: auto;
}

.navbar.level-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--primary-color);
}

.navbar.level-1 {
  background-color: var(--primary-color);
}

.navbar.level-2 {
  background-color: var(--primary-color);
}

.navbar.open {
  max-height: 1000px;
  padding: 10px 0;
}

.navbar-button {
  background-color: var(--primary-color);
  display: flex;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: auto;
  font-size: 1rem;
  border: 2px solid var(--accent-color);
  border-radius: 1rem;
  cursor: pointer;
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.navbar-button.collapsing {
  opacity: 0;
  transform: scaleY(0);
}

.navbar-button.active {
  background-color: var(--tertiary-color);
}

.navbar-button.expanding {
  opacity: 0;
  transform: scaleY(0);
}

.navbar.open .navbar-button.expanding {
  opacity: 1;
  transform: scaleY(1);
}

.navbar-button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 2px 5px var(--hover-shadow);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-button.title-button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0;
    cursor: default;
    color: var(--text-color);
}

.navbar-button.title-button:hover {
    background-color: transparent;
    box-shadow: none;
}

.navbar-wrapper{margin-bottom:var(--gap-lg)}
