/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Theme Colors */
:root {
  --primary-color: #edf4f7;
  --secondary-color: #d8eaf0;
  --tertiary-color: #c9f1d9;
  --accent-color: #a6c7c8;
  --text-color: #444;
  --light-gray: #f5f7f8;
  --hover-shadow: rgba(0, 90, 153, 0.15);
  --box-shadow: rgba(0, 90, 153, 0.15);
  --disabled-input-color: #b17474;
}

/* Main Content Styling */
main {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
}