.secret-input-wrapper {
    /* flex: 1; */
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.secret-entry-field {
    /*flex: 1;*/
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--box-shadow);
    border-radius: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 1px 3px var(--box-shadow);
}

.secret-entry-field:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 5px var(--accent-color);
}

.secret-label-field {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: var(--text-color);
}

.secret-input-wrapper .copy-field-button {
    transform: translateX(-100%);
}

.secret-entry-toggle {
    right: 0;
    z-index: 200;
    position: absolute;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: border 0.2s ease;
    border-radius: 1rem;
}

.secret-entry-toggle:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

input:disabled {
    border: 1px solid var(--disabled-input-color);
    background-color: var(--accent-color);
    color: var(--disabled-input-color);
}

.eye-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.eye-open {
    background-image: url('../img/icons/open-eye.png');
}

.eye-closed {
    background-image: url('../img/icons/closed-eye.png');
}

.center-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
